<%= form_tag(index_path, method: :get, class: '') do %>
  <div class="form-group">
    <%= text_field_tag :keyword, params[:search], class: 'form-control', placeholder: "半角スペースで複数検索可能" %>
  </div>
  <div class="form-group">
    表示件数：
    <%= radio_button_tag :number, 10, { :checked => true } %> 10 </label>
    <%= radio_button_tag :number, 30 %> 30 </label>
    <%= radio_button_tag :number, 50 %> 50 </label>
    <label class="checkbox-inline">
  </div>
  <%= submit_tag '検索', class: 'btn btn-success' %>
<% end %><br>
